<div class = "background1">
    <br/><br/><br/><br/><br/><br/><br/>
    <div class = "row">
        <div class = "col-md-3"></div>
        <div class = "col-md-6">
            <div class = "row">
                <div class = "col-md-1"></div>
                <div class = "col-md-11">
                    <div class = "panel panel-primary">
                        <div class = "panel-heading" align = center>
                            <h1 style = "font-family: Microsoft YaHei">发布新商品</h1>
                        </div>
                        <div class = "panel-body">
                            <%= render "form" %>
                            <p align = right>
                                <%= link_to "取消发布", root_path, :class => "btn btn-link" %>
                            </p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class = "col-md-3"></div>
    </div>
    <br/><br/><br/><br/><br/>
</div>
