<footer class="footer">
    <small>
        <a href="https://market.douban.com/"> 集市 </a>
        by <a href="https://github.com/ciciyaya">呲呲ya </a>
        </small>
        <nav>
            <ul>
                <li> <%= link_to "关于", about_path  %> </li>
                <li> <%= link_to "联系", contact_path  %> </li>
                <li> <a href="http://news.ucas.ac.cn/">新闻 </a> </li>
                </ul>
            </nav>
    </footer>